<div class="form-group row " [class.has-success]="currentFormControl.valid&&currentFormControl.dirty" [class.has-danger]="currentFormControl.invalid&&currentFormControl.dirty" >
    <label class="{{labelClass}} col-form-label">{{label}}</label>
    <div class="{{inputClass}}">
        <input *ngIf="type==='text'" type="text" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">
        <input *ngIf="type==='number'" type="number" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">
        <input *ngIf="type==='email'" type="email" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">
        <input *ngIf="type==='password'" type="password" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">
        <input *ngIf="type==='url'" type="url" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">
        <input *ngIf="type==='tel'" type="tel" class="form-control" [value]="value" (change)="inputOnChange($event.target.value)" (keyup)="inputOnChange($event.target.value)">


        <div class="form-control-feedback" *ngIf=" currentFormControl.invalid&& (currentFormControl.dirty || currentFormControl.touched)">
            <span *ngIf="error"> {{error}} </span>
            <span *ngIf="!error">
                <span *ngIf="currentFormControl.hasError('required')"> 该项是必填项！</span>
                <span *ngIf="currentFormControl.hasError('email')"> 邮箱格式不正确！</span>
                <span *ngIf="currentFormControl.hasError('minlength')"> 字符长度不能少于{{ currentFormControl.errors.minlength.requiredLength }}位！</span>
                <span *ngIf="currentFormControl.hasError('maxlength')"> 字符长度不能多于{{ currentFormControl.errors.maxlength.requiredLength }}位！</span>

                <span *ngIf="currentFormControl.hasError('min')"> 数字不能小于等于{{ currentFormControl.errors.min.min }}！</span>
                <span *ngIf="currentFormControl.hasError('max')"> 数字不能大于等于{{ currentFormControl.errors.max.max }}！</span>
            </span>
        </div>

        <small class="form-text text-muted" *ngIf="hint">{{hint}}</small>
    </div>
</div>
