
<div>

    <p>request ip is: <%= ip %></p>
    <p>Time now is: <%= timeNow %></p>

    <ul>
        <% users.forEach(function (user) {%>
        <li><%= user.name %></li>
        <% })%>
    </ul>

</div>
