<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>



    <style>

        html,body {
            margin:0;
            padding:0;
            height: 100%;
        }

        .grid {
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: row

        }
        .col {
            padding: 30px;
        }
        .fluid {
            flex: 1;
            border: 1px solid blue;
        }
        .fixed {
            width: 400px;
            border: 1px solid red;
        }



        .flex-parent {
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: row
        }

        .flex-son{
            border: 1px solid red;
        }

        .flex-son:nth-child(1){
            flex: 3 1 200px;
        }
        .flex-son:nth-child(2){
            flex: 2 2 300px;
        }
        .flex-son:nth-child(3){
            flex: 1 3 500px;
        }


    </style>

</head>
<body>



<div class="flex-parent">
    <div class="flex-son">111</div>
    <div class="flex-son">222</div>
    <div class="flex-son">333</div>
</div>



<div class="grid">
    <div class="col fluid">
        fluid
    </div>
    <div class="col fixed">
        fixed
    </div>
    <div class="col fluid">
        fluid
    </div>
</div>

<div>
    <label for="files" class="btn">Select Image</label>
    <input id="files" style="visibility:hidden;" type="file">
</div>



<a id="aa" href="http://jquery.com/">jQuery</a>



<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">

    var box = document.getElementsByClassName('flex-parent')[0];

    window.onresize = function (){
        box.children[0].innerHTML = box.children[0].offsetWidth
        box.children[1].innerHTML = box.children[1].offsetWidth
        box.children[2].innerHTML = box.children[2].offsetWidth

        console.log('offsetWidth',box.children[0],  box.children[0].offsetWidth, box.children[1].offsetWidth, box.children[2].offsetWidth)
        console.log('clientWidth', box.children[0].clientWidth, box.children[1].clientWidth, box.children[2].clientWidth)
        console.log('scrollWidth', box.children[0].scrollWidth, box.children[1].scrollWidth, box.children[2].scrollWidth)
    }



    $( document ).ready(function() {
        $("a" ).click(function( event ) {

            alert( "The link will no longer take you to jquery.com" );
            event.preventDefault();
        });


        $.ajax({

            url: "/api/shops",
//            url: "/api/shops",

            // The data to send (will be converted to a query string)
            data: {
                id: 123
            },

            method: "POST",
            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
            dataType : "json", // The type of data we expect back
        })
            .done(function( json ) {
                console.log(json);
            })
            // Code to run if the request fails; the raw request and
            // status codes are passed to the function
            .fail(function( xhr, status, errorThrown ) {
                alert( "Sorry, there was a problem!" );
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
            });


    });

</script>


</body>
</html>