

        <H2 class="mb-4"> 收货地址 </H2>

        <form [formGroup]="userAddressForm" (ngSubmit)="userAddressFormSubmit()" (keydown.enter)="$event.preventDefault()">

            <div formGroupName="address" class="well well-lg">
                <bs-text-input formControlName="street" [fc]="userAddressForm.get('address.street')" [type]="'text'" [label]="'街道:'" [dirty]="ignoreDirty" [error]="userAddressFormError.address?.street"></bs-text-input>
                <bs-text-input formControlName="city" [fc]="userAddressForm.get('address.city')" [type]="'text'" [label]="'城市:'" [dirty]="ignoreDirty" [error]="userAddressFormError.address?.city"></bs-text-input>
            </div>

            <div formArrayName="addressXX" class="well well-lg">
                <div *ngFor="let addressFormGroup of userAddressForm.get('addressXX').controls; let i=index" [formGroupName]="i" >
                    <bs-text-input formControlName="street" [fc]="addressFormGroup.get('street')" [type]="'text'" [label]="'街道:'" [dirty]="ignoreDirty" [error]="userAddressFormError.addressXX[i] && userAddressFormError.addressXX[i].street"></bs-text-input>
                    <bs-text-input formControlName="city" [fc]="addressFormGroup.get('city')" [type]="'text'" [label]="'城市:'" [dirty]="ignoreDirty" [error]="userAddressFormError.addressXX[i] && userAddressFormError.addressXX[i].city"></bs-text-input>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                </div>
            </div>
        </form>





        <table class="table">
            <thead>
                <tr>
                    <th>收货人</th>
                    <th>所在地区</th>
                    <th>详细地址</th>
                    <th>邮编</th>
                    <th>手机/电话</th>
                    <th>电子邮箱</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
