
.main-admin-box {
    min-width: 1400px;
    padding-left: 0px;
    padding-right: 0px;
}

li{
    list-style: none;
}
a{
    color: #333333;
    line-height: 36px;
    text-decoration: none;
    &:hover{
        color: #23b7e5;
        text-decoration: none;
    }
}
.wrapper{
    .header{
        height: 55px;
        background-color: #23b7e5;
        position: relative;
        box-shadow: 3px 3px 5px rgba(0,0,0,.1);
        .logo{
            display: inline-block;
            width: 85px;
            height: 34px;
            margin: 11px 74px;
            vertical-align: bottom;
        }
        .tabChange{
            line-height: 55px;
            color: #ffffff;
            cursor: pointer;
        }
        .headRight{
            position: absolute;
            right: 30px;
            top: 0;
            color: #ffffff;
            font-size: 16px;
            line-height: 55px;
            span{
                padding-right: 40px;
            }
        }
    }
    .aside{
        width: 220px;
        .sideBar{
            height: 800px;
            width: 220px;
            border-right: 1px solid gainsboro;
            background-color: #ffffff;
            font-size: 14px;
            .subNav{
                padding-left: 12px;
            }
            .card{
                border: none;
                div{
                    border-left: 3px solid #ffffff;
                }
                .active{
                    border-color: #23b7e5;
                   a{
                       color: #23b7e5;
                   }
                }
            }
        }
        .sideBarIco{
            display: none;
            //width: 65px;
            height: 800px;
            border-right: 1px solid gainsboro;
            background-color: #ffffff;
            font-size: 22px;
            line-height: 60px;
            text-align: center;
            ul{
                padding:0;
                li.nav-header{
                    position: relative;
                    border-left: 3px solid #ffffff;
                    .subNav{
                        position: absolute;
                        font-size: 14px;
                        line-height: 36px;
                        top:0;
                        left: 61px;
                        width: 180px;
                        text-align: left;
                        padding: 20px;
                        background-color: #ffffff;
                        border: 1px solid gainsboro;
                        display: none;
                    }
                    &:hover{
                        color:#23b7e5;
                        .subNav{
                            display: block;
                        }
                    }
                }
                li.active{
                    border-color: #23b7e5;
                    em{
                        color:#23b7e5;
                    }
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .headRight{
        visibility: hidden;
    }
    .tabChange{
        position: absolute;
        right: 30px;
        top: 0;
    }
}


























